<h2> Blog Posts </h2>
{{#blogs}}
  <h4 class="border-top">
    {{title}}
  </h4>

  <div class="blog-content">
    {{{content}}}
  </div>

  <h5 class="blog-date">Date: {{updatedAt}}</h5>

  <h5>By: {{author}}</h5>

  <button type="button" class="btn-xs options-button" id="blog-options-button" data-blog-id={{_id}}>Options</button>

<div class="blog-options" id={{_id}}>
    <!-- Update Blog -->
    <div id="edit-form">
     <form id="edit-blog">
       <fieldset>
         <input type="hidden" name="blog[_id]" value="{{_id}}">
         <div class="form-group">
           <input type="text" class="form-control" name="blog[title]" value="{{title}}" required>
         </div>
         <div class="form-group">
           <textarea class="form-control text-editor" name="blog[content]" rows="10" cols=75 required>{{{content}}}</textarea>
         </div>
         <button type="submit" class="btn btn-default pull-right" name="submit">Submit Edit</button>
       </fieldset>
     </form>
     </div>

   <!-- Delete Blog -->
   <div id="delete-form">
    <form id="delete-blog">
      <input type="hidden" name="blog[_id]" value="{{_id}}">
      <button type="submit" name="submit" class="btn btn-default pull-right">Delete Blog Post</button>
    </form>
  </div>
</div>
{{/blogs}}
